extends layout

block content
  h1 Items List
  ul
    each item in items
      if item.name
       li 
        a(href=item.url) #{item.name} - $#{item.price} - #{item.stock} in stock
  
  a(href="/items/items_list/create") Add new item 
