doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navbar 
      div(class='navbar') 
        ul 
          li 
            a(href='/items') Home
          li 
            a(href='/items/items_list') Products 
          li 
            a(href='#') Categories
    block content
      
