body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkolivegreen;
  color:white;
}
a{
  color: white;
}

a:hover {
  color: #00B7FF;
}
.navbar ul{
  display: flex;
  gap: 35px;
}
ul, li{
  list-style: none;
  text-decoration: none;
}
.gamedesc{
  width: 600px;
  font-size: 20px;
}
.blue{
  font-size: 15px;
  color: hotpink;
}