body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar ul{
  display: flex;
  gap: 35px;
}
ul, li{
  list-style: none;
  text-decoration: none;
}